<button type="submit">I'm available to help</button>
<!-- ajax this -->
<!-- redirect back to the same page for testing purpose -->
<!-- @ally.avaiable = false 
jquery id of the div and then change the css.style to green -->
<!-- add a end change button here. This will be hidden if chat is not present yet. Nice -->
