<div>
	<h1>Goodbye</h1>
	<p> Thanks for sharing your experience. </br> Please rate the experience you had with your ally. </br> At this point all chat information has been deleted. The rating will not be associated to your person.
	</p>

	<form action="">
  		<input type="radio" name="rating" value="1"> 1<br>
  		<input type="radio" name="rating" value="2"> 2<br>
  		<input type="radio" name="rating" value="2"> 3<br>
  		<input type="radio" name="rating" value="2"> 4<br>
  		<input type="radio" name="rating" value="3"> 5
  		<button type="button">Submit</button>
	</form>

</div>	