<h1>Hello!!</h1>

<div>
	useful links
</div>

<div>
	Chat Box
	<input type="text" name="">
</div>

<div>
	Helpers
</div>

<div>
	<form action='temp_users/:id' method="post">
		<input name="_method" type="hidden" value="put" />
		<button type="button">End Chat</button>
	</form>
</div>