<%= @yo  %>
<h1>Hello!!</h1>

<div>
	useful links
</div>

<div>
	Chat Box
	<input type="text" name="">
</div>

<div>
	Helpers
</div>


<div>
	<form action='/temp_users/<%= @temp_user.id %>' method="POST">
		<input name="_method" type="hidden" value="DELETE" />
		<input type="submit" value="End Chat">
	</form>
</div>