
/*Landing Page---------------------------------------------
---------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

@import 'https://fonts.googleapis.com/css?family=Oswald';

nav {
	position: relative;
	font-family: 'Oswald';
	font-size: 22px;
	letter-spacing: 2px;
	color: black;
	display: inline;
	float: left;
	margin: 0 auto;
	padding-top: 23px;
	padding-left: 10px;
}
