* {
  box-sizing:border-box;
}

html, body {
  padding:0;
  margin:0;
  width:100%;
  height: 100%;
  /*background-color: #849091;*/
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#ADD8E6;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

section {
  /*changes outside of message boxs*/
  height:70%;
  background-color: #ADD8E6;

}

section input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  display: block;
  color: white;
}

#chat_section{
  vertical-align: middle;
  padding-top: 120px;
}

#messages {
  /*changes inside the chat box*/
  background-color:white;
  padding: 30px;
  position: relative;
  height: 530px;
  left: 20px;
  width: 1100px;
  margin: 0 auto;
  vertical-align: middle;
  color: #849091;
}


.info {
  margin:5px 0;
  font-style:italic;
  position: relative;
  display: block;
  top: 0;
}

#chat-input{
  margin-top: 100px;
  padding-bottom: 10px;
  width: 600px;
  color: black;
  display: block;
  position: relative;
  border-color: #849091;
}

.text_input {
  background-color: pink;
  position: relative;
  bottom: 0;
}

#chat_container{
  width: 100%;
  height: 1200px;
  /*background-color: #ADD8E6;*/
}
.message-container {
  margin:5px 0;
  color:#fff;
  padding-bottom: 200px;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  /*color:#849091;*/
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}

