
<head>
  <title>Ally Chat</title>
  <!-- <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico"> -->
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="./public/css/chat.css">
</head>
<body>
  <div id="chat_container">
    
  <!-- 
    <header>
    <a href="https://www.rainn.org/articles/steps-you-can-take-after-sexual-assault" 
      target="_blank">Sexual Assult Next Steps
      <i class="fa fa-fw fa-external-link"></i>
    </a>
    </header> -->
    <section id="chat_section">
      <div id="messages"></div>
      <input id="chat-input" type="text" placeholder="Message" autofocus/>
    </section>
    <% if session[:ally_id] %>
      <div id="log_out_button">
        <form action="/sessions" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Log Out">
        </form>
      </div>
    <% end %>
    <script src="//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/chat/index.js"></script>
  </div>

  <% if session[:ally_id] %>
    <form action="/allies/:id" method="POST" id="toggle"/>
      <input type="hidden" name="_method" value="PUT">

      <% if @ally[:available?] == false %>
        <input type="hidden" name="available?" value="true">
        <input type="submit" name="" value="I'm avaiable to help">
      <%else%>
        <input type="hidden" name="available?" value="false">
        <input type="submit" name="" value="end chat">
      <%end%>
    </form>
  <% end %>
</body>


