<div class="panels">
  <div class="panels__container">
    <a href="/allies/new" class="panel">
      <div class="panel__content" style="background-color: #ADD8E6">
      <h3 class="panel__title" id="become_ally">BECOME AN ALLI</h3>
      </div>
    </a>
    <!-- I NEED HELP HERE -->
     <form action='/temp_users' method='POST' class="panel" id="help_form">
        <div class="panel__content" style="background-color: pink">
          <h1 class="panel__title" id="help_index">I NEED HELP HERE</h1>
        </div>
      </form>
  </div>
</div>

<!-- todo -->
<div>
  <% @categories.each do |category| %>
    <li><%=category.id.to_i %>><%= category.title %></li>
  <% end %>
</div> 

<!--  {"category"=>"3"} -->